.MuiSpeedDial-root {
	position: fixed !important;
	z-index: 1000 !important;
}

/* Ensure the actions menu appears correctly on mobile */
@media (max-width: 600px) {
	.MuiSpeedDial-root {
		bottom: 1.5rem !important;
		/* Changed to bottom positioning */
		left: 1.5rem !important;
	}

	.MuiSpeedDial-actions {
		padding-top: 0.5rem;
	}
}